### Rules

##### Output 1
* Replace null description by empty str
* Remove unecessary columns before merge
* Typing tags values like Python list
* Re-scaling rating 0-5 to 1-5

##### Output 2 
* top 1000 viwers
* top 1000 vieweds

In [ ]:
import pandas
import platform

def rescaling(num) -> float:
    if num == 0:
        return 1
    
    return 1 + ( num * ( 4 / 5 ) )

data_dir_path: str = "C:\\deere\data\\by_project\\leo foods\\" if "Windows" in platform.platform() else "/mnt/c/deere/data/by_project/leo foods/"
file_name_interations: str = ""
file_name_locations: str = ""
file_name_output1: str = "output1_Iowa.parquet"
file_name_output2: str = "output2_Iowa.parquet"

In [3]:
import pandas

df = pandas.read_json("C:\\deere\\data\\by_project\\leo Iowa\\leo Iowa data\\review-Iowa.json", lines=True)
pandas.unique(df["rating"])

array([ 5.,  1.,  4.,  2.,  3., nan])

In [9]:
df[df["rating"].isna()]

,user_id,name,time,rating,text,pics,resp,gmap_id
413718,NaN,Expedia reviewer,1595289600000,NaN,Property was new and clean. Only complaint was...,None,None,0x87f1079432c35aef:0x2c161599fc1d26d6
413719,NaN,Hotels.com reviewer,1598659200000,NaN,"Nice place, very new. We could still faintly s...",None,None,0x87f1079432c35aef:0x2c161599fc1d26d6
413720,NaN,Hotels.com reviewer,1595116800000,NaN,Great place to stay.,None,None,0x87f1079432c35aef:0x2c161599fc1d26d6
569658,NaN,Hotels.com reviewer,1622851200000,NaN,Fantastic accommodations. Clean and staff fri...,None,None,0x87e441998749850b:0x783d6f93edee7bb1
887080,NaN,Hotels.com reviewer,1618444800000,NaN,The room was a great surprise. It was huge. Be...,None,None,0x87ec935880c010c1:0xd69758638c9222f
...,...,...,...,...,...,...,...,...
4829121,NaN,rob1960,1409788800000,NaN,The Front Desk staff were great! The hotel bei...,None,None,0x87ee99092191e1d7:0x59ca188d247d4836
4829123,NaN,Don't want a nickname,1417478400000,NaN,Everything made a long day relaxing. I have MS...,None,None,0x87ee99092191e1d7:0x59ca188d247d4836
4829124,NaN,donelly86,1562025600000,NaN,The only bad part was Max when we checked in. ...,None,None,0x87ee99092191e1d7:0x59ca188d247d4836
4829125,NaN,Mickey82,1504569600000,NaN,The staff strived and succeeded at meeting our...,None,None,0x87ee99092191e1d7:0x59ca188d247d4836
4829126,NaN,REEJAY,1433376000000,NaN,I would recommend this hotel to my friends. Th...,None,None,0x87ee99092191e1d7:0x59ca188d247d4836